<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <form
      class="product-form"
      action="<% if (editMode) { %> /admin/edit-product <% } else { %> /admin/add-product <% } %>"
      method="POST"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="form-control">
        <input
          type="text"
          name="title"
          placeholder="Product Title"
          value="<% if (editMode) { %> <%= product.title %> <% } %>"
        />
        <input
          type="url"
          name="imageUrl"
          placeholder="Image URL"
          value="<% if (editMode) { %> <%= product.imageUrl %> <% } %>"
        />
        <input
          type="text"
          name="price"
          placeholder="Product Price"
          value="<% if (editMode) { %> <%= product.price %> <% } %>"
        />
        <textarea
          maxlength="200"
          rows="5"
          title="Product Description"
          name="description"
          placeholder="Product Description"
        >
<% if (editMode) { %> <%= product.description %> <% } %></textarea
        >
        <% if (editMode) { %>
        <input type="hidden" name="productId" value="<%= product._id %>" /> <% }
        %>
        <button type="submit">
          <% if (editMode) { %> Edit Product <% } else { %> Add Product <% } %>
        </button>
      </div>
    </form>
  </main>
  <%- include('../partials/end.ejs') %>
</body>
