<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <form
      class="product-form"
      action="<% if (editMode) { %> /admin/edit-product <% } else { %> /admin/add-product <% } %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="form-control">
        <input
          type="text"
          name="title"
          placeholder="Product Title"
          value="<% if (editMode || hasError) { %> <%= product.title %> <% } %>"
          class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : '' %>"
        />
        <input
          type="file"
          name="image"
          id="image"
          placeholder="Pick an image"
        />
        <!-- <input
          type="url"
          name="imageUrl"
          placeholder="Image URL"
          value="<% if (editMode || hasError) { %> <%= product.imageUrl %> <% } %>"
          class="<%= validationErrors.find(e => e.path === 'imageUrl') ? 'invalid' : '' %>"
        /> -->
        <input
          type="number"
          step="0.01"
          name="price"
          id="price"
          placeholder="Product Price"
          value="<% if (editMode || hasError) { %> <%= product.price %> <% } %>"
          class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid' : '' %>"
        />
        <textarea
          maxlength="100"
          rows="5"
          title="Product Description"
          name="description"
          placeholder="Product Description"
          class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : '' %>"
        >
<% if (editMode  || hasError) { %> <%= product.description %> <% } %></textarea
        >
        <% if (editMode) { %>
        <input type="hidden" name="productId" value="<%= product._id %>" /> <% }
        %>
        <button type="submit">
          <% if (editMode) { %> Edit Product <% } else { %> Add Product <% } %>
        </button>
      </div>
    </form>

    <% if (errorMessage) { %>
    <div class="user-message error"><%= errorMessage %></div>
    <% } %>
  </main>
  <%- include('../partials/end.ejs') %>
</body>
