<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>

  <main>
    <form class="login-form" action="/new-password" method="POST">
      <div class="form-control">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="hidden" name="resetToken" value="<%= resetToken %>" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        <button type="submit">Update password</button>
      </div>
    </form>

    <% if (errorMessage) { %>
    <div class="user-message error"><%= errorMessage %></div>
    <% } %>
  </main>
  <%- include('../partials/end.ejs') %>
</body>
